<<<<<<< HEAD:CSS/stylesheet.css

  body {
    color: skyblue;
    font-weight: bolder;
    font-size: 25px;
    background-image: url(IMG_20201010_125611.jpg);
    background-position: 0 ,0;
  justify: padding-bottom: 10%;
                background-size: cover;
                text-align: center;
                font-family: Helvetica neau;
                background-repeat: no-repeat;
  }
  image{
    padding: 20px;
  }
  h1{
      color:gray;
      font-family: sans-serif;
      text-shadow:-1px 2px;
}
h2{
        color: whitesmoke;
    font-family: sans-serif
        text-shadow:-1px 2px;
    padding: inherit
}
h3{
        color:white;
    font-family: sans-serif;
        text-shadow:-1px 2px;
}
p{
        color:white;
    font-family: sans-serif
    font-size: 35 px;
    padding: inherit;
    
}
li{
        color:white;
    font-family: serif;
    font-weight:lighter;
    font-kerning: auto;
    padding: inherit
}
  button{
    background: gray;
    border: none;
    color: white;
}
>>>>>>> a1b3467dcb5f746cb92ecd40033aff1eb7b23f12:CSS/stylesheet.css
