.main {
	display: block;
	width: 300px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
	background: fixed no-repeat;
}
.title{
	font-size: 20px;
	font-style: italic;
	color: beige;
	text-align: center;
}
.div{

}
